body{
    margin: 0;
    
}
.main{
    background-color: rgb(138, 186, 170);
}
.image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
}
.container {
    max-width: 600px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.menu{
    display:inline-flex;
}
.nature {
    margin:25px;
    padding: 15px;
    border: 1px solid grey;

   border-radius: 30px;
    cursor: pointer;
    
}
.lake{
    margin:25px;
    padding: 15px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 30px;
 
    
}
.p{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;

}
.para{
    
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.Read{
    margin-top:25px;
    margin-bottom: 0;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 36px; 
    background-color: aqua;
    width:fit-content;
    align-items: center;
    cursor: pointer;
  
}
.p1{
    display: none;
}
a{
    text-decoration: none;
}
